@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'font-awesome/css/font-awesome.min.css';
@import 'jasny-bootstrap/dist/css/jasny-bootstrap.min.css';
@import 'bootstrap-fileinput/css/fileinput.min.css';
@import 'bootstrap-table/dist/bootstrap-table.min.css';
@import 'x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}
